<footer class="row-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 company_name" style="padding:10px;">
                genius <br>
                electronics
            </div>
            <div class="col-sm-3" style="padding:10px;">
                <table class="table table-responsive table-borderless">
                    <tr>
                        <td><i class="fa fa-map-marker fa-2x"></i></td>
                        <td>gala No. 38 <br>
                            ruby industrial estate,<br>
                            vasai east,<br>
                            thane 400057
                        </td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-phone fa-2x"></i></td>
                        <td>+852 1234 5678</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-envelope fa-2x"></i></td>
                        <td><a href="mailto:geniuselec@gmail.com"/>geniuselec@gmail.com</td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4" style="padding:10px;">
                <form action="">
                    <table class="table table-responsive table-borderless">
                        <tr>
                            <td><i class="fa fa-user fa-2x"></i></td>
                            <td><input type="text" name="f_user"></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-envelope fa-2x"></i></td>
                            <td><input type="text" name="f_email"></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-pencil fa-2x"></i></td>
                            <td><input type="text" name="f_message"></td>
                        </tr>
                    </table>
                    <div style="margin: 0 auto; width:50%;">
                    <input class="btn btn-default" type="submit" value="query">
                        </div>
                </form>
            </div>
            <div class="col-sm-2" style="padding:10px;padding-left:20px;">
                <center><p>connect</p></center>
                <center>
                <div class="nav navbar-nav">
                    <a class="btn btn-social-icon btn-google-plus btn-sm" href="http://google.com/+"><i
                            class="fa fa-google-plus fa-1x"></i></a>
                    <a class="btn btn-social-icon btn-facebook btn-sm" href="http://www.facebook.com/profile.php?id="><i
                            class="fa fa-facebook fa-1x"></i></a>
                    <a class="btn btn-social-icon btn-linkedin btn-sm" href="http://www.linkedin.com/in/"><i
                            class="fa fa-linkedin fa-1x"></i></a>
                    <a class="btn btn-social-icon btn-twitter btn-sm" href="http://twitter.com/"><i
                            class="fa fa-twitter fa-1x"></i></a>
                </div></center>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="padding:10px;">
                <p align=center>© Copyright 2016 genius electronics</p>
            </div>
        </div>
    </div>
</footer>
