<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="app"><img src="app/images/logo.png" height=30 width=30></a><span class="navbar-brand">genius electronics</span>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{active: stateis('app')}"><a ui-sref="app">
                        <span class="glyphicon glyphicon-home"
                              aria-hidden="true"></span> home</a>
                </li>
                <li ng-class="{active: stateis('app.catalog')}"><a ng-click="loadProducts()" ui-sref="app.catalog">
                         <span class="glyphicon glyphicon-list-alt"
                               aria-hidden="true"></span> catalog</a>
                </li>
                <li ng-class="{active: stateis('app.clientele')}"><a ng-click="loadClients()" ui-sref="app.clientele">
                    <i class="fa fa-users"></i> clientele</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{active: stateis('app.checkout')}"><a ng-click="checkout()">
                    <i class="fa fa-shopping-cart"></i> checkout</a>
                </li>
                <li ng-if="!loggedIn"><a ng-click="openLogin()">
                    <span class="glyphicon glyphicon-log-in"></span> login</a>
                </li>
                <li ng-if="loggedIn">
                    <a>{{username}}</a>
                </li>
                <li ng-if="loggedIn">
                    <a ng-click="logOut()">
                        <span class="glyphicon glyphicon-log-in"></span> logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="jumbotron">
    <div class="container">
        <div class="row row-header">

            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img ng-src="app/images/header_1.png" alt="...">

                        <div class="carousel-caption">
                            <h3>microcontrollers</h3>
                        </div>
                    </div>
                    <div class="item">
                        <img ng-src="app/images/header_2.png" alt="...">

                        <div class="carousel-caption">
                            <h3>transformers</h3>
                        </div>
                    </div>
                    <div class="item">
                        <img ng-src="app/images/header_3.png" alt="...">

                        <div class="carousel-caption">
                            <h3>stabilizers</h3>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
  <a class="left carousel-control" href="" ng-click="slide('prev')" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="" ng-click="slide('next')" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
            </div>
            <!-- Carousel -->

        </div>
    </div>
</header>