<div class="container">
    <div class="row">

        <h2>from the founder's desk</h2>

        <blockquote>
            <p>lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna
                praesent at
                id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis
                aliquam
                wisi. Nulla wisi laoreet suspendisse integer vivamus elit eu mauris hendrerit facilisi.</p>
            <footer>adam johnson</footer>
        </blockquote>
    </div>
    <hr>
        <center><h3>how it works</h3></center>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-content">
                    <center><img class="how_it_works img-responsive" ng-src="app/images/mobile-pc.png"></center>
                </div>
                <div class="card-header">
                    <center><h4>order easily</h4></center>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-content">
                    <center><img class="how_it_works img-responsive" ng-src="app/images/delivery.png"></center>
                </div>
                <div class="card-header">
                    <center><h4>superfast delivery</h4></center>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-content">
                    <center><img class="how_it_works img-responsive" ng-src="app/images/customer_care.png"></center>
                </div>
                <div class="card-header">
                    <center><h4>24/7 customer care</h4></center>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <center><h3>reviews</h3></center>
    <br>
    <div class="row">
        <div class="col-sm-12 well">
            <blockquote>
                <p>
                    superb quality transformers in quick time. great customer care too. :)
                </p>
                <footer>donald duck, 9:36 PM, 27 January, 2016.</footer>
            </blockquote>
        </div>
    </div>
</div>
