    <div class="ngdialog-message">
        <div class="">
            <h3>login </h3>
        </div>
        <div class="">&nbsp;</div>
        <div class="">
            <form ng-submit="doLogin()" novalidate="novalidate" name="loginForm">
                <div class="form-group">
                    <label class="sr-only" for="username">username</label>
                    <input type="text" class="form-control input-sm" id="username" placeholder="username" ng-model="loginData.username" required>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="password">password</label>
                    <input type="password" class="form-control input-sm" id="password" placeholder="password" ng-model="loginData.password" required>
                </div>

                <p style="color:red;" ng-show="!loggedIn && !firstTime">authenticated error, try again</p>

                <button type="submit" class="btn btn-info btn-sm" ng-disabled="loginForm.$invalid">sign in</button>
                <button type="button" class="btn btn-default btn-sm" ng-click=closeThisDialog("Cancel")>cancel</button> &nbsp; &nbsp;
                <a ng-click=openRegister()>click here to register</a>
            </form>
        </div>
        <div>

        </div>
    </div>
