    <div class="ngdialog-message">
        <div class="">
            <h3>Register </h3>
        </div>
        <div class="">&nbsp;</div>
        <div class="">
            <form ng-submit="doRegister()" novalidate="novalidate" name="createForm">
                <div class="form-group">
                    <label class="sr-only" for="name">name</label>
                    <input type="text" class="form-control input-sm" id="name" placeholder="name" ng-model="registration.name" required>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="username">username</label>
                    <input type="text" class="form-control input-sm" id="username" placeholder="username" ng-model="registration._id" required>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="password">password</label>
                    <input type="password" class="form-control input-sm" id="password" placeholder="password" ng-model="registration.password" required>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="email">email</label>
                    <input type="text" class="form-control input-sm" id="email" placeholder="email" ng-model="registration.email" required>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="mobile">mobile</label>
                    <input type="text" class="form-control input-sm" id="mobile" placeholder="mobile" ng-model="registration.mobile" required>
                </div>
                <button type="submit" class="btn btn-info btn-sm" ng-disabled="createForm.$invalid">Register</button>
                <button type="button" class="btn btn-default btn-sm" ng-click=closeThisDialog("Cancel")>Cancel</button>

                <br>
                <p ng-show="!registered && !firstTime" style="color:red;">registration error, try again</p>
                <p ng-show="registered && !firstTime" style="color:green;">registration successful, log in now</p>

            </form>
        </div>
    </div>
